body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.718);
    padding: px;
    z-index: 10000;
}

.nav-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;

}

.nav-box a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-box a:hover {
    text-decoration: underline;
}

.nav-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    /* Updated color to white */
    font-size:18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.nav-links li a:hover {
    color: #ffe400;
}

.nav-links li a:hover+.logo img {

    transform: scale(1.1);
}


.logo img {
    height: 150px;
    
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
}


nav .nav-links li a.active {
    color: #ffd000;
}

.hero-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
    /* Adjust the transparency */
    background-color: transparent;
    /* Set the background color to transparent */
}

/* Adjust the playback speed */
#bg-video {
    animation: fadeIn 100s ease-in-out infinite;
    /* Adjust the duration as needed */

}

@keyframes fadeIn {

    0%,
    100% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        /* Adjust the transparency during the animation */
    }
}



footer {
    background-color: black;

    color: #ffe400;
    /* Updated color to white */
    padding: 30px;
}

/* Make the links yellow */
.footer-links a {
    color: #ffe400;
    /* Updated color to white */
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

p {
    color: #ffe400;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    transform-origin: center;
    animation: scaleAnimation 1.4s infinite alternate;
    background-color: rgba(0, 0, 0, 0.463);
    /* Adjust the alpha value for opacity */
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 149, 0, 0.5);
}


@keyframes scaleAnimation {
    0% {
        transform: scale(0.8);
        color: #ffffff;
    }

    50% {
        color: orange;
    }

    100% {
        transform: scale(0.9);
        color: #ffe400;
    }
}



body:not(nav) {
    margin-top: 80px; /* Adjust the margin based on the height of your nav bar */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    perspective: 1000px;
    z-index: 1; /* Ensure the image container is behind the nav bar */
}

.image {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: auto;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.image img {
    width: 70%;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.69);
    /* Adjust the alpha value for opacity */
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 149, 0, 0.5);
    border-radius: 50%;

}

.image:hover {
    transform: rotateY(180deg);
}